@tailwind base;
@tailwind components;
@tailwind utilities;



.sukui-h1 {
    @apply text-slate-900 text-5xl font-extrabold
}

.sukui-h2 {
    @apply text-slate-800 text-4xl font-extrabold
}

.sukui-h3 {
    @apply text-slate-800 text-2xl font-semibold
}

.sukui-p {
    @apply text-slate-600 text-lg
}

.sukui-button {
    @apply bg-teal-500 text-slate-100 py-3 px-5 rounded-lg font-semibold duration-500;
}

.sukui-button:hover {
    @apply bg-teal-400
}

.sukui-button2 {
    @apply bg-slate-100 text-slate-900 border border-slate-300 py-3 px-5 rounded-lg font-semibold;
}

.sukui-label {
    @apply text-slate-800 text-lg font-medium block
}

.sukui-input {
    @apply border border-slate-300 text-slate-500 py-3 px-5 rounded-lg bg-slate-100 w-full duration-200
}

.sukui-input:focus {
    @apply outline-teal-500
}

.sukui-select {
    @apply border border-slate-300 text-slate-500 py-3 px-5 rounded-lg bg-slate-100 w-full outline-none
}
